/* src/App.css */

.app {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border:1px solid black;
  background-color:#acafb1;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.current-weather, .forecast, .error-message, .toggle-unit {
  margin-top: 20px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.forecast-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .forecast-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 60%;
}

button {
  /* padding: 10px; */
  cursor: pointer;
  background-color: #007bff; /* Base color */
    color: white; /* Text color */
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover effect */
.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  font-weight: bold; /* Make text bold */
}
